
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background: #030328;
    color: #fff;
    font-family:  Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    

 
}



.button1 {
    position:fixed;
    left: 1490px;
    top: 0px;
    background: #030328 ;
    color:  #fff;
    display: inline-block ;
    border-radius: 30px;
    font-size: 15px;
    margin: 20px;
    padding: 10px 0px;
    text-align:center;
    width: 100px;
    display: grid;
    grid-template-columns: 10fr 10fr;

     

}

.button2 {
    position:fixed;
    right: 8px;
    top: 0px;
    border-radius: 60px;
    background: #b535f6 ;
    color:  #fff;
    display: inline-block ;
  
    font-size: 15px;
    margin: 10px;
    padding: -0px 5px;
    text-align:center;
    width: 200px;
}
 

     



.contenerdor {
    width: 100%;
    margin: auto;
    overflow: hidden;

}

#slider {
width: 3500px;
height: 170px;

background-image: url(img/CARRUCELCOMPLETO.png) ;
background-size: 100% 100%;
position: fixed;
left: 0px;
bottom: 50px;



animation: slider 60s infinite linear;
}

@keyframes slider {
    to{ background-position: -1000px ;
     
    
     
    }
    }